<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barqsoft.footballscores" >

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ScoresProvider"
            android:authorities="barqsoft.footballscores"
            android:exported="false"/>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="barqsoft.footballscores.MainActivity" />
        </activity>

        <service android:name=".service.ScoresFetchService" />

        <!-- Today widget -->
        <receiver
            android:name=".widget.TodayMatchWidgetProvider"
            android:label="@string/widget_today_desc">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_today_info" />

        </receiver>

        <!-- Intent Service to update widget data-->
        <service
            android:name=".service.TodayMatchIntentService"
            android:exported="false" >
        </service>

        <!-- Detail Widget -->
        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:label="@string/widget_detail_desc"
            android:enabled="@bool/widget_detail_enabled">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="barqsoft.footballscores.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />

        </receiver>

        <!-- Remote Views Service for detail widget -->
        <service android:name=".service.DetailWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:enabled="@bool/widget_detail_enabled" />

    </application>

</manifest>
